.FormFilm {
  width: 400px;
  margin: 0 auto;
  text-align: left;
}

.FormFilm h1 {
  text-align: center;
}

.FormFilm .form-data {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.FormFilm .form-data label {
  display: inline-block;
  width: 75px;
  margin-right: 10px;
  text-align: right;
}

.FormFilm .form-data input:not([type="submit"]) {
  flex-grow: 1;
}

.FormFilm .form-data textarea {
  flex-grow: 1;
}